

body {
    background-color: royalblue;
    color: silver;
    margin: 0 auto;
}

header {
    background-color: darkgray;
    padding: 3rem;
}

footer {
    background-color: darkgray;
    padding: 2rem 3rem;
}

main {
    padding: 4rem;
    min-height: 100%;
}